
.logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
  }
  
  .site-layout {
    background: #fff;
  }
  
  .site-layout-background {
    background: #fff;
  }
  
  .ant-layout-sider {
    background: #fff;
  }
  
  .ant-layout-sider-trigger {
    background: #fff;
  }
  
  .ant-menu-dark,
  .ant-menu-dark .ant-menu-item,
  .ant-menu-dark .ant-menu-submenu-title {
    background: #001529;
  }
  
  .ant-menu-dark .ant-menu-item-selected {
    background-color: #1890ff;
  }
  
  .ant-menu-dark .ant-menu-item-selected a {
    color: #fff;
  }
  
  .ant-menu-dark .ant-menu-item a,
  .ant-menu-dark .ant-menu-item:hover a {
    color: #fff;
  }
  