  /* Home CSS */
.ant-carousel .slick-prev {
  color: black;
  left: 10px; 
  z-index: 1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8; 
  transition: opacity 0.3s;
}

.ant-carousel .slick-next {
  color: black;
  right: 10px; 
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8; 
  transition: opacity 0.3s;
}

.ant-carousel .slick-prev:hover, 
.ant-carousel .slick-next:hover {
  opacity: 1;
  font-weight: bolder;
}
.carousel{
  border: 2px solid black;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.ant-carousel li {
  border: 1px solid #001529;
  color: #001529;
  background-color: #001529;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.product-image{
  margin: 0px auto;
  height: 300px;
  width: 400px;
  overflow: hidden;
  border: 1px solid black;
  border-radius: 5px;
}

.row{
  border: 2px solid black;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.col{
  width: 445px;
  height: 490px ;
  text-align: center;
  display: flex;
  flex-direction: row-reverse;
  padding: 0;
  margin: 5px auto;
  border: 1px solid black;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.ant-card-body .product-list-image{
  border: 1px solid black;
  margin: 0px auto;
  height: 300px;
  width: 400px;
  overflow: hidden;
  border: 1px solid black;
  border-radius: 5px;
}
.autolist .heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heading button{
  border: none;
}
.heading button:hover{
  transform: scale(3,4);
  -webkit-transform: scale(3,4);
  -moz-transform: scale(3,4);
  -ms-transform: scale(3,4);
  -o-transform: scale(3,4);
}
.productlist .heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  /* Phần Danh sách sản phẩm mới */
  .on-sale-product {
    padding: 50px 0;
  }
  .product-card {
    width: 445px;
    height: 480px ;
    text-align: center;
    margin: 5px 5px 5px 5px;
  }
  .row-feature{
    overflow: auto;
    white-space: nowrap;
  }
  .product-button {
    margin-top: 10px;
  }
  /* Phần danh sách sản phẩm bán chạy */
  .new-product{
    overflow: auto;
  }

  /* Phần Liên hệ */

  
