  /* Phần Danh sách sản phẩm nổi bật */
  .featured-products {
    padding: 50px 0;
  }
  .product-card {
    text-align: center;
    border: 2px solid black;
    margin: 5px 5px 5px 5px;
    background-color: #bd2a80;
  }
  .row-feature{
    overflow: auto;
    white-space: nowrap;
  }
  .product-button {
    margin-top: 10px;
  }
  /* Phần danh sách sản phẩm bán chạy */
  .best-selling-products{
    overflow: auto;
  }
  .carousel-best-seller .slick-dot-bottom{
    border: 2px solid black;

  }
  /* Danh sách sản phẩm */
  .product-list{
    text-align: center;
    border: 2px solid black;
    margin: 5px 5px 5px 5px;
    background-color: #bd2a80;
    width: 400px;
    height: 475px;
  }
  /* Phần Liên hệ */
  .contact-us { 
    padding: 50px 0;
  }
  .product-image{
    height: 300px;
    width: 100%;
    overflow: hidden;
    border: 1px solid black;
  }
